#cloud-config
users:
  - name: ansible
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: false
    password: admin
    ssh_authorized_keys:
      - ${ssh_key}

ssh_pwauth: True
chpasswd: { expire: False }

# Виводимо все завантаження в консоль, щоб ми бачили помилки
output: { all: "| tee -a /var/log/cloud-init-output.log" }

runcmd:
  - [ netplan, apply ]
  - [ echo, "Cloud-init finished at $(date)" ]